# Node
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
.next/
frontend/.next/
frontend/out/

# Env files
.env
.env.*
!backend/.env.example
!frontend/.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# # Docker
# docker-compose.override.yml

# IDE
.vscode/
.idea/
